<div id="ImagePreview" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Change Image</h4>
            </div>
            <div class="modal-body">               
                    <img src="#" id="UploadImagePreview" class="form-control" />                  
                
            </div>
        </div>
    </div>
</div>

