
<input type="hidden" id="DeliverOrderIdNow" />

<div class="modal fade" id="OrderDeliverModelAdmin" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="padding:30px 30px">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="normal-table-list" style="padding:0 !important">
                            <div class="basic-tb-hd">
                                <h5 style="text-align:center">Order has Been Deliverd Successfully!</h5>
                            </div>
                            <div class="bsc-tbl-bdr" style="text-align:center">
                                <hr />
                                <a href="#" class="btn btn-info" id="DeliverdSuccessClose">Ok, Thank you</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>