


<div id="DriverOrderDeliverdModel" data-backdrop="static" role="dialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel1">Order Deliverd successfully to Client!</h3>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>Deliver Quantity</td>
                            <td><input type="number" id="DeliverQuantity" class="form-control" required /></td>
                        </tr>
                        <tr style="text-align:center">
                            <td colspan="2">
                                <a href="#" class="btn btn-warning pull-right" id="DeliverdProcess">Proceed</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>           
        </div>
    </div>
</div>


<input type="hidden" id="OrderIdNowToDeliver" />

