
@{
    IT.Core.ViewModels.ExpenseViewModel expenseViewModel = new IT.Core.ViewModels.ExpenseViewModel();

    expenseViewModel = ViewBag.ExpenseViewModel as IT.Core.ViewModels.ExpenseViewModel;
}
<hr />

<div class="col-md-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-left">

    @if (expenseViewModel != null)
    {
        <div class="form-group">
            <label>Term & Condition:</label>
            <div class="form-group">
                <div>
                    <textarea cols="40" rows="2" id="TermCondition" placeholder="Term & Condition" style="border:1px dotted"></textarea>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Customer Note:</label>
            <div class="form-group">
                <div>
                    <textarea cols="40" rows="2" id="CustomerNote" placeholder="Customer Note" style="border:1px dotted"></textarea>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="form-group">
            <label>Term & Condition:</label>
            <div class="form-group">
                <div>
                    <textarea cols="40" rows="2" id="TermCondition" placeholder="Term & Condition" style="border:1px dotted"></textarea>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Customer Note:</label>
            <div class="form-group">
                <div>
                    <textarea cols="40" rows="2" id="CustomerNote" placeholder="Customer Note" style="border:1px dotted"></textarea>
                </div>
            </div>
        </div>
    }

</div>
<div class="col-md-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="pull-right">
        <table class="table-hover table-responsive" id="customers">

            @if (expenseViewModel != null)
            {
                <thead>
                    <tr>
                        <th>Total (AED):</th>
                        <th id="SubTotal">@Math.Round(expenseViewModel.Total, 2)</th>
                    </tr>
                    <tr>
                        <th>VAT 5%:</th>
                        <th id="TotalVAT">@Math.Round(expenseViewModel.VAT, 2)</th>
                    </tr>
                    <tr>
                        <th>Sub Total (AED):</th>
                        <th id="gtotal">@Math.Round(expenseViewModel.GrandTotal, 2)</th>
                    </tr>
                </thead>
            }
            else
            {
                <thead>
                    <tr>
                        <th>Total (AED):</th>
                        <th id="SubTotal">0.00</th>
                    </tr>
                    <tr>
                        <th>VAT 5%:</th>
                        <th id="TotalVAT">0.00</th>
                    </tr>
                    <tr>
                        <th>Sub Total (AED):</th>
                        <th id="gtotal">0.00</th>
                    </tr>
                </thead>
            }

        </table>
    </div>
</div>



