
@{
    ViewBag.Title = "AcceptedOrderDriver";
    //  Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_DriverLayout.cshtml";
}



<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-title">
                <h3><i class="fa fa-table"></i> My Asigned Orders</h3>
                <div class="box-tool">
                    <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                    <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div class="btn-toolbar pull-right clearfix">
                    <div class="btn-group">
                        <a class="btn btn-circle show-tooltip" title="Add new record" href="#"><i class="fa fa-plus"></i></a>
                        <a class="btn btn-circle show-tooltip" title="Edit selected" href="#"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-circle show-tooltip" title="Delete selected" href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-circle show-tooltip" title="Print" href="#"><i class="fa fa-print"></i></a>
                        <a class="btn btn-circle show-tooltip" title="Export to PDF" href="#"><i class="fa fa-file-text-o"></i></a>
                        <a class="btn btn-circle show-tooltip" title="Export to Exel" href="#"><i class="fa fa-table"></i></a>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-circle show-tooltip" title="Refresh" href="#"><i class="fa fa-repeat"></i></a>
                    </div>
                </div>
                <br /><br />
                <div class="clearfix"></div>
                <div class="table-responsive" style="border:0">
                    <table class="table table-advance" id="DriverAsignedOrder">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Date</th>
                                <th>Company Name</th>
                                <th>Requested Quantity</th>
                                <th>Deliverd Quantity</th>
                                <th>UserName</th>
                                <th>Order Progress</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



@Html.Partial("~/Areas/AWFDriver/Views/Shared/Partial/_DriverNotificationView.cshtml")


@section Scripts{

    <script>

        $(document).ready(function () {
            BindDataTable();
        });

        var BindDataTable = function (response) {
            $('#DriverAsignedOrder').DataTable({
                "bRetrieve": true,
                "bServerSide": true,
                "processing": true,
                "sAjaxSource": "/CustomerOrderGroupAcceptDriver",
                "fnServerData": function (sSource, aoData, fnCallback) {
                    $.ajax({
                        type: "Get",
                        data: aoData,
                        url: sSource,
                        success: fnCallback
                    })
                },

                "aoColumns": [
                    { "mData": "Id" },
                    { "mData": "CreatedDates" },
                    { "mData": "Name" },
                    { "mData": "RequestedQuantity" },
                    { "mData": "DeliverdQuantity" },
                    { "mData": "UserName" },
                    { "mData": "OrderProgress" },
                    {
                        "mData": "Id",
                        "render": function (Id, type, full, meta) {
                            return '<a href="#" onclick="View(' + Id + ')" /><i class="glyphicon glyphicon-eye-open"></i></a>'
                        }
                    },
                ]
            })
        }

        function View(Id) {

            window.location.href = "/DriverViewGroupAsignedOrder/" + Id;
        }
    </script>

    <script src="~/Scripts/jquery.signalR-2.4.1.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Hubs/ScriptHub/DriverScript.js"></script>
}

