
<div class="modal fade" id="VehicleSelectModel" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left:0px !important; padding-right:0px!important">
                    <div class="form-group">
                        @*<label>select Vehicle:</label>*@
                        <div class="chosen-select-act fm-cmp-mg">
                            <select class="chosen" data-placeholder="select Vehicle" name="Vehicle" id="DropDownVehicle" title="select Vehicle"></select>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="AsignVehicleToDriver">Save Changes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
