
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/css/Common/LPOInvoiceTable.css" rel="stylesheet" />
<link href="~/Content/css/Common/Common-LPO.css" rel="stylesheet" />


<div class="data-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div class="basic-tb-hd">
                        <div class="row">
                            <div class="col-md-11">
                                <h2></h2>
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                        @Html.Partial("~/Views/Shared/Expense/ExpenseEmployeePartialView.cshtml")
                    </div>
                    <div class="table-responsive">
                        @Html.Partial("~/Views/Shared/Expense/_MainExpenseTablePartialView.cshtml")
                        @Html.Partial("~/Views/Shared/Invoice_LPO PartialView/_FooterTotalPartialView.cshtml")

                    </div>
                    <p></p>
                    @Html.Partial("~/Views/Shared/LPOInvoieDetailsPartialViews/_BillButtonPartialView.cshtml")
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{   
    <script src="~/Areas/Expense/Scripts/Expense.js"></script>
    <script>

        $('#ExpenseFor').change(function () {

            if ($(this).val().trim() == "Vehicle") {
                $("#ChoiceBox").empty();
                $("#ChosenSelect").show();
                ajaxRequest("POST", "/LoadVehicle", "", "json").then(function (result) {
                    $("#ChosenSelect").show();
                    if (result != "Failed") {
                        $("#ChoiceBox").empty();
                        $('select').chosen();
                        $.each(result, function (key, Item) {
                            $("#ChoiceBox").append('<option value=' + Item.Id + '>' + Item.TraficPlateNumber + '</option>');
                        });
                        $('select').trigger("chosen:updated");

                    }

                });
            }
            else if ($(this).val().trim() == "Employee") {
                $("#ChoiceBox").empty();
                $("#ChosenSelect").show();

                ajaxRequest("POST", "/LoadEmployee", "", "json").then(function (result) {

                    if (result != "Failed") {
                        $('select').chosen();
                        $.each(result, function (key, Item) {

                            $("#ChoiceBox").append('<option value=' + Item.Id + '>' + Item.Name + '</option>');
                        });
                        $('select').trigger("chosen:updated");
                    }

                });
            }
            else if ($(this).val().trim() == "General") {
                $('select').chosen();
                $("#ChoiceBox").empty();
                $('select').trigger("chosen:updated");
                $("#ChosenSelect").hide();
            }

        });


        $('#BillSave').click(function () {
            if (ExpenseValid()) {
                //  localStorage.clear();
                CreateExpense("/Expense-Create");

                //alert('ok');
            }
        });

        function ExpenseValid() {

            var IsValid = true;

            if ($('#EmployeeId').val() == 0) {

                $('#EmployeeId').css('border-color', '1px solid #BDC7BC');
                alert('Please select Employee');

                IsValid = false;
            }

            //else if ($('#ExpenseFor').val() == "Select Expense For") {
            //    $('#ExpenseFor').css('border-color', '1px solid #BDC7BC');
            //    IsValid = false;
            //    alert('select From Expense For');
            //}

            //else if ($('#ExpenseFor').val() == "Vehicle" || $('#ExpenseFor').val().trim() == "Employee")
            //{

            //    if ($('#ChoiceBox').val() == 0) {
            //        $('#ChoiceBox').css('border-color', '1px solid #BDC7BC');
            //        IsValid = false;

            //        alert($('#ExpenseFor').val().trim() + ' ' + $('#ChoiceBox').val());

            //        alert('select Choice');
            //    }
            //}
            return IsValid;
        }


        $(document).ready(function () {

            $('#EmployeeId').change(function () {

                var EMPID = $(this).val();

                if (EMPID > 0) {

                    ajaxRequest("GET", "AWFEmployee-Edit/" + EMPID, "", "json").then(function (result) {

                        if (result != "Failed") {
                           
                            $('#EmployeeDesignation').text(result.DesignationName);   
                            $('#EmployeeEmail').text(result.Email);
                            $('#EmployeeContact').text(result.Contact);
                        }
                        else {
                            alert("Failed");
                        }

                    });
                }

            });
        });


    </script>

}


